<a href="https://colab.research.google.com/github/charitha0606/-assignment-python/blob/master/Untitled19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Charitha.k-321910305052

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_excel("Vsem.xlsx")

In [ ]:
df

   IV Sem E Section Roll List    Unnamed: 1              Unnamed: 2
0                     Sl. No.   Roll Number            Student Name
1                           1  321910305001    PUDURU VAMSI KRISHNA
2                           2  321910305002         DHARANI SRINIJA
3                           3  321910305003     MUTTINENI AISHWARYA
4                           4  321910305004   NAGIREDDY JEEVANREDDY
..                        ...           ...                     ...
60                         60  321910305061  SAVARAPU JASPER PRINCE
61                        NaN           NaN                     NaN
62                        NaN          Boys                     NaN
63                        NaN         Girls                     NaN
64                        NaN         Total                     NaN

[65 rows x 3 columns]

In [ ]:
df.iloc[0]

IV Sem E Section Roll List         Sl. No.
Unnamed: 1                     Roll Number
Unnamed: 2                    Student Name
Name: 0, dtype: object

In [ ]:
headers=df.iloc[0]
new_df=pd.DataFrame(df.values[1:61],columns=headers)

In [ ]:
new_df

0  Sl. No.   Roll Number                             Student Name
0        1  321910305001                     PUDURU VAMSI KRISHNA
1        2  321910305002                          DHARANI SRINIJA
2        3  321910305003                      MUTTINENI AISHWARYA
3        4  321910305004                    NAGIREDDY JEEVANREDDY
4        5  321910305005          SANKEPALLI CHENNA SANDEEP REDDY
5        6  321910305006                               NAVNEETH N
6        7  321910305007                    BYALLA CHANDRA SEKHER
7        8  321910305008                    SHAIK KHAJA KAIF AZAM
8        9  321910305009                ANIMALA VENKATA SAI VIDYA
9       10  321910305010                      GUTTIKONDA NIKHITHA
10      11  321910305011                         RAJAVARI THANUJA
11      12  321910305012                   ALLAM LAKSHMI NARAYANA
12      13  321910305013                       BOMMA SREE LAKSHMI
13      14  321910305015                DUGGINENI AKHILA CHOWDARY
14      15  321910305016                        CHEMBETI MANIDEEP
15      16  321910305017                     JALADHI SAI VARSHINI
16      17  321910305018              THATHEKALVA OMPRAKASH REDDY
17      18  321910305019                      POTHURU SAI HEMANTH
18      19  321910305020                             ARUN KUMAR M
19      20  321910305021                 RAMIREDDY MAHIDHAR REDDY
20      21  321910305022                                   LAYA T
21      22  321910305023                             POORNIMA D S
22      23  321910305024  KUDUMULA MULAMMAGARI VENKATESWARA REDDY
23      24  321910305025                          C REVANTH REDDY
24      25  321910305026                KURAPATI JAYA SAI KRISHNA
25      26  321910305027                                  ARIEF B
26      27  321910305028                KONETI GOPAL MAHITH VARMA
27      28  321910305029                    GODDUMARRI OBULA RAJA
28      29  321910305030                    PEDDIREDDY SASI KUMAR
29      30  321910305031                           ANUSHA BOGGULA
30      31  321910305032                         VALLIVEDU LOHITH
31      32  321910305033               YELLICHERLA LOKESWAR REDDY
32      33  321910305034                           NAKHEEB SAMEER
33      34  321910305035               BATHULA BHARATH KUMAR GOWD
34      35  321910305036                            KURABA DINESH
35      36  321910305037                  CHEDELLA SUBRAMANYESWAR
36      37  321910305038                    DEVIREDDY REETHU SREE
37      38  321910305039                        GANGIMENI POLAPPA
38      39  321910305040                    CHAKKA VENKATA DINESH
39      40  321910305041                     VANNELA PAVAN KALYAN
40      41  321910305042                           MIDDI SREEDEVI
41      42  321910305043                             RAKESH REDDY
42      43  321910305044                         U MANISH ADITHYA
43      44  321910305045                   BUSALA CHARAN SRI TEJA
44      45  321910305046                                  RAMYA G
45      46  321910305047                           ANIL KUMAR B R
46      47  321910305048                               BHUVAN A L
47      48  321910305049                        MATAPATI VINEETHA
48      49  321910305050                               GOUTHAMI D
49      50  321910305051               LOKA SURYA TEJESWARA REDDY
50      51  321910305052                         KAMMARI CHARITHA
51      52  321910305053                                SHRAVAN S
52      53  321910305054                     KOGILATHOTA AISWARYA
53      54  321910305055                           KARRI SATHVIKA
54      55  321910305056                                  RAHUL K
55      56  321910305057                             BHOOMIKA H K
56      57  321910305058                             K SAI GANESH
57      58  321910305059                               VARSHINI V
58      59  321910305060                               AKSHAY Y P
59      60  321910305061                   SAVARAPU JASPER PRINCE

In [ ]:
new_df['age']=np.random.randint(19,21,size=60,dtype=int)

In [ ]:
new_df

0  Sl. No.   Roll Number  ... old_branch age
0        1  321910305001  ...        CSE  19
1        2  321910305002  ...        CSE  19
2        3  321910305003  ...        CSE  19
3        4  321910305004  ...        CSE  19
4        5  321910305005  ...        CSE  19
5        6  321910305006  ...        CSE  20
6        7  321910305007  ...        CSE  19
7        8  321910305008  ...        CSE  20
8        9  321910305009  ...        CSE  20
9       10  321910305010  ...        CSE  20
10      11  321910305011  ...        CSE  19
11      12  321910305012  ...        CSE  20
12      13  321910305013  ...        CSE  19
13      14  321910305015  ...        CSE  20
14      15  321910305016  ...        CSE  20
15      16  321910305017  ...        CSE  19
16      17  321910305018  ...        CSE  19
17      18  321910305019  ...        CSE  19
18      19  321910305020  ...        CSE  19
19      20  321910305021  ...        CSE  19
20      21  321910305022  ...        CSE  19
21      22  321910305023  ...        CSE  19
22      23  321910305024  ...        CSE  20
23      24  321910305025  ...        CSE  19
24      25  321910305026  ...        CSE  20
25      26  321910305027  ...        CSE  20
26      27  321910305028  ...        CSE  19
27      28  321910305029  ...        CSE  20
28      29  321910305030  ...        CSE  20
29      30  321910305031  ...        CSE  19
30      31  321910305032  ...        CSE  19
31      32  321910305033  ...        CSE  19
32      33  321910305034  ...        CSE  19
33      34  321910305035  ...        CSE  20
34      35  321910305036  ...        CSE  20
35      36  321910305037  ...        CSE  20
36      37  321910305038  ...        CSE  20
37      38  321910305039  ...        CSE  20
38      39  321910305040  ...        CSE  20
39      40  321910305041  ...        CSE  19
40      41  321910305042  ...        CSE  19
41      42  321910305043  ...        CSE  20
42      43  321910305044  ...        CSE  19
43      44  321910305045  ...        CSE  19
44      45  321910305046  ...        CSE  19
45      46  321910305047  ...        CSE  19
46      47  321910305048  ...        CSE  20
47      48  321910305049  ...        CSE  19
48      49  321910305050  ...        CSE  20
49      50  321910305051  ...        CSE  20
50      51  321910305052  ...        CSE  20
51      52  321910305053  ...        CSE  20
52      53  321910305054  ...        CSE  19
53      54  321910305055  ...        CSE  20
54      55  321910305056  ...        CSE  20
55      56  321910305057  ...        CSE  19
56      57  321910305058  ...        CSE  20
57      58  321910305059  ...        CSE  20
58      59  321910305060  ...        CSE  20
59      60  321910305061  ...        CSE  19

[60 rows x 5 columns]

In [ ]:
new_df['old_branch']=['CSE']*60

In [ ]:
new_df

0  Sl. No.   Roll Number  ... age new_branch
0        1  321910305001  ...  19        CSE
1        2  321910305002  ...  19        CSE
2        3  321910305003  ...  19        CSE
3        4  321910305004  ...  19        CSE
4        5  321910305005  ...  19        CSE
5        6  321910305006  ...  20        CSE
6        7  321910305007  ...  19        CSE
7        8  321910305008  ...  20        CSE
8        9  321910305009  ...  20        CSE
9       10  321910305010  ...  20        CSE
10      11  321910305011  ...  19        CSE
11      12  321910305012  ...  20        CSE
12      13  321910305013  ...  19        CSE
13      14  321910305015  ...  20        CSE
14      15  321910305016  ...  20        CSE
15      16  321910305017  ...  19        CSE
16      17  321910305018  ...  19        CSE
17      18  321910305019  ...  19        CSE
18      19  321910305020  ...  19        CSE
19      20  321910305021  ...  19        CSE
20      21  321910305022  ...  19        CSE
21      22  321910305023  ...  19        CSE
22      23  321910305024  ...  20        CSE
23      24  321910305025  ...  19        CSE
24      25  321910305026  ...  20        CSE
25      26  321910305027  ...  20         IT
26      27  321910305028  ...  19         IT
27      28  321910305029  ...  20         IT
28      29  321910305030  ...  20         IT
29      30  321910305031  ...  19         IT
30      31  321910305032  ...  19         IT
31      32  321910305033  ...  19        ECE
32      33  321910305034  ...  19        ECE
33      34  321910305035  ...  20        ECE
34      35  321910305036  ...  20        ECE
35      36  321910305037  ...  20        CSE
36      37  321910305038  ...  20        CSE
37      38  321910305039  ...  20        CSE
38      39  321910305040  ...  20        CSE
39      40  321910305041  ...  19        CSE
40      41  321910305042  ...  19        CSE
41      42  321910305043  ...  20        CSE
42      43  321910305044  ...  19        CSE
43      44  321910305045  ...  19        CSE
44      45  321910305046  ...  19        CSE
45      46  321910305047  ...  19        CSE
46      47  321910305048  ...  20        CSE
47      48  321910305049  ...  19        CSE
48      49  321910305050  ...  20        CSE
49      50  321910305051  ...  20        CSE
50      51  321910305052  ...  20        CSE
51      52  321910305053  ...  20        CSE
52      53  321910305054  ...  19        CSE
53      54  321910305055  ...  20        CSE
54      55  321910305056  ...  20        CSE
55      56  321910305057  ...  19       MECH
56      57  321910305058  ...  20       MECH
57      58  321910305059  ...  20      CIVIL
58      59  321910305060  ...  20      CIVIL
59      60  321910305061  ...  19      CIVIL

[60 rows x 6 columns]

In [ ]:
new_df['new_branch']=['CSE']*25+['IT']*6+['ECE']*4+['CSE']*20+['MECH']*2+['CIVIL']*3

In [ ]:
new_df

0  Sl. No.   Roll Number  ... age new_branch
0        1  321910305001  ...  19        CSE
1        2  321910305002  ...  19        CSE
2        3  321910305003  ...  19        CSE
3        4  321910305004  ...  19        CSE
4        5  321910305005  ...  19        CSE
5        6  321910305006  ...  20        CSE
6        7  321910305007  ...  19        CSE
7        8  321910305008  ...  20        CSE
8        9  321910305009  ...  20        CSE
9       10  321910305010  ...  20        CSE
10      11  321910305011  ...  19        CSE
11      12  321910305012  ...  20        CSE
12      13  321910305013  ...  19        CSE
13      14  321910305015  ...  20        CSE
14      15  321910305016  ...  20        CSE
15      16  321910305017  ...  19        CSE
16      17  321910305018  ...  19        CSE
17      18  321910305019  ...  19        CSE
18      19  321910305020  ...  19        CSE
19      20  321910305021  ...  19        CSE
20      21  321910305022  ...  19        CSE
21      22  321910305023  ...  19        CSE
22      23  321910305024  ...  20        CSE
23      24  321910305025  ...  19        CSE
24      25  321910305026  ...  20        CSE
25      26  321910305027  ...  20         IT
26      27  321910305028  ...  19         IT
27      28  321910305029  ...  20         IT
28      29  321910305030  ...  20         IT
29      30  321910305031  ...  19         IT
30      31  321910305032  ...  19         IT
31      32  321910305033  ...  19        ECE
32      33  321910305034  ...  19        ECE
33      34  321910305035  ...  20        ECE
34      35  321910305036  ...  20        ECE
35      36  321910305037  ...  20        CSE
36      37  321910305038  ...  20        CSE
37      38  321910305039  ...  20        CSE
38      39  321910305040  ...  20        CSE
39      40  321910305041  ...  19        CSE
40      41  321910305042  ...  19        CSE
41      42  321910305043  ...  20        CSE
42      43  321910305044  ...  19        CSE
43      44  321910305045  ...  19        CSE
44      45  321910305046  ...  19        CSE
45      46  321910305047  ...  19        CSE
46      47  321910305048  ...  20        CSE
47      48  321910305049  ...  19        CSE
48      49  321910305050  ...  20        CSE
49      50  321910305051  ...  20        CSE
50      51  321910305052  ...  20        CSE
51      52  321910305053  ...  20        CSE
52      53  321910305054  ...  19        CSE
53      54  321910305055  ...  20        CSE
54      55  321910305056  ...  20        CSE
55      56  321910305057  ...  19       MECH
56      57  321910305058  ...  20       MECH
57      58  321910305059  ...  20      CIVIL
58      59  321910305060  ...  20      CIVIL
59      60  321910305061  ...  19      CIVIL

[60 rows x 6 columns]

In [ ]:
final_df = new_df[new_df['old_branch'] == new_df['new_branch']]

In [ ]:
final_df

0  Sl. No.   Roll Number  ... age new_branch
0        1  321910305001  ...  19        CSE
1        2  321910305002  ...  19        CSE
2        3  321910305003  ...  19        CSE
3        4  321910305004  ...  19        CSE
4        5  321910305005  ...  19        CSE
5        6  321910305006  ...  20        CSE
6        7  321910305007  ...  19        CSE
7        8  321910305008  ...  20        CSE
8        9  321910305009  ...  20        CSE
9       10  321910305010  ...  20        CSE
10      11  321910305011  ...  19        CSE
11      12  321910305012  ...  20        CSE
12      13  321910305013  ...  19        CSE
13      14  321910305015  ...  20        CSE
14      15  321910305016  ...  20        CSE
15      16  321910305017  ...  19        CSE
16      17  321910305018  ...  19        CSE
17      18  321910305019  ...  19        CSE
18      19  321910305020  ...  19        CSE
19      20  321910305021  ...  19        CSE
20      21  321910305022  ...  19        CSE
21      22  321910305023  ...  19        CSE
22      23  321910305024  ...  20        CSE
23      24  321910305025  ...  19        CSE
24      25  321910305026  ...  20        CSE
35      36  321910305037  ...  20        CSE
36      37  321910305038  ...  20        CSE
37      38  321910305039  ...  20        CSE
38      39  321910305040  ...  20        CSE
39      40  321910305041  ...  19        CSE
40      41  321910305042  ...  19        CSE
41      42  321910305043  ...  20        CSE
42      43  321910305044  ...  19        CSE
43      44  321910305045  ...  19        CSE
44      45  321910305046  ...  19        CSE
45      46  321910305047  ...  19        CSE
46      47  321910305048  ...  20        CSE
47      48  321910305049  ...  19        CSE
48      49  321910305050  ...  20        CSE
49      50  321910305051  ...  20        CSE
50      51  321910305052  ...  20        CSE
51      52  321910305053  ...  20        CSE
52      53  321910305054  ...  19        CSE
53      54  321910305055  ...  20        CSE
54      55  321910305056  ...  20        CSE

[45 rows x 6 columns]

In [ ]:
class age:
  def __init__(self,data):
    self.df = data
  def youngest(self):
    return self.df[self.df['age'] == self.df['age'].min()]['Student Name']
    values.tolest()
  def oldest(self):
    return self.df[self.df['age'] == self.df['age'].max()]['Student Name']
    values.tolist()
  def average_age(self):
    return int(self.df['age'].mean())
  def median_age(self):
    return int(self.df['age'].median())

In [ ]:
d = age(final_df)

In [ ]:
d.youngest()

0                PUDURU VAMSI KRISHNA
1                     DHARANI SRINIJA
2                 MUTTINENI AISHWARYA
3               NAGIREDDY JEEVANREDDY
4     SANKEPALLI CHENNA SANDEEP REDDY
6               BYALLA CHANDRA SEKHER
10                   RAJAVARI THANUJA
12                 BOMMA SREE LAKSHMI
15               JALADHI SAI VARSHINI
16        THATHEKALVA OMPRAKASH REDDY
17                POTHURU SAI HEMANTH
18                       ARUN KUMAR M
19           RAMIREDDY MAHIDHAR REDDY
20                             LAYA T
21                       POORNIMA D S
23                    C REVANTH REDDY
39               VANNELA PAVAN KALYAN
40                     MIDDI SREEDEVI
42                   U MANISH ADITHYA
43             BUSALA CHARAN SRI TEJA
44                            RAMYA G
45                     ANIL KUMAR B R
47                  MATAPATI VINEETHA
52               KOGILATHOTA AISWARYA
Name: Student Name, dtype: object

In [ ]:
d.oldest()

5                                  NAVNEETH N
7                       SHAIK KHAJA KAIF AZAM
8                   ANIMALA VENKATA SAI VIDYA
9                         GUTTIKONDA NIKHITHA
11                     ALLAM LAKSHMI NARAYANA
13                  DUGGINENI AKHILA CHOWDARY
14                          CHEMBETI MANIDEEP
22    KUDUMULA MULAMMAGARI VENKATESWARA REDDY
24                  KURAPATI JAYA SAI KRISHNA
35                    CHEDELLA SUBRAMANYESWAR
36                      DEVIREDDY REETHU SREE
37                          GANGIMENI POLAPPA
38                      CHAKKA VENKATA DINESH
41                               RAKESH REDDY
46                                 BHUVAN A L
48                                 GOUTHAMI D
49                 LOKA SURYA TEJESWARA REDDY
50                           KAMMARI CHARITHA
51                                  SHRAVAN S
53                             KARRI SATHVIKA
54                                    RAHUL K
Name: Student Name, dtype: object

In [ ]:
d.average_age()

19

In [ ]:
d.median_age()

19